{% extends "account/base.html" %}


{% block title %}Registration{% endblock %}

{% block content %}
<header id="login_register_page" class="masthead text-left text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div id="signup_side" class="col-lg-10 my-auto">
        <h2>Créer un compte</h2>
        <form method="post" action="{% url 'registration_register' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn" type="submit" value="Sign up">Créer mon compte</button>
          <input type="hidden" value="{% if request.REQUEST.next %}{{ request.REQUEST.next }}{% else %}{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}/{% endif %}{% endif %}" name="next" />
        </form>
      </div>
    </div>
  </div>
</header>
{% endblock %}